$image-bg: url(assets/bg-header.jpg);
$bg-section: #0081FF;
$yellow: #ffff00;
$blue-grey: #8799A3;
$black-1: #252525;
$btn : #1CBBB3;
$font-1: 'Montserrat', sans-serif;
$font-2: 'Leckerli One', cursive;
$btn:     #1CBBB3;
$color-1: #8799A3;
$black-1: #252525;
$bg-client : url(assets/bg-client.jpg);
/*Globlal*/

@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Cambay:400,700|Coustard:400,900');
body {
    font-family: $font-1;
}

#header {
    background-image: $image-bg;
    height: 850px;
    background-position: -75px -128px;
    background-size: 2000px;
    background-repeat: no-repeat;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 850px;
}

.navbar-light .navbar-toggler {
    background-color: white;
    border-color: white;
    font-size: 16px;
}

.navbar {
    padding: 50px 0 0;
}

.navbar-brand img {
    width: 167px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.5rem;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: $blue-grey;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: $blue-grey;
}

.btn-outline-warning {
    border-radius: 50px;
    padding: 8px 35px;
    font-weight: 500;
    border: 2px solid $yellow;
    color: $yellow;
    box-shadow: 0 1px 5px $yellow;
}

.btn-outline-warning:hover {
    background-color: $yellow;
    color: black;
    border: 2px solid $yellow;
}

.col-6 {
    top: 135px;
    color: #FFFFFF;
}

.display-5 {
    color: white;
    font-family: $font-2;
    font-size: 32px;
}

.display-3 {
    font-size: 48px;
    font-weight: 900;
    padding: 20px 0 0;
}

.display-3 .name {
    color: #0081FF;
}

.display-4 {
    font-size: 33px;
    padding-bottom: 20px;
}

.lead {
    color: #636363;
    padding-bottom: 10px;
    font-size: 22px;
    line-height: 1.5;
}

.btn-primary {
    background-color: #1F1E1E;
    border-color: #1F1E1E;
    padding: 18px 35px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: grey;
    border-color: grey;
}

.sosial-about {
    background-color: $bg-section;
    height: 530px;
}

//
.display-2 {
    font-size: 40px;
    font-weight: 900;
    padding-top: 15px;
    line-height: 1.3;
}

.content {
    padding: 0 10px;
}

.content-2 {
    font-size: 20px;
}

.section-2 {
    padding: 95px 0 0;
}

#section-content {
    background-color: #007af3;
    height: 310px;
    color: white;
    padding: 90px 0;
}

.col-1 img {
    height: 60px;
    display: inline;
}

.col-3 .display-4 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: -3px;
}

.col-3 p {
    font-size: 17px;
}

#section-sosial {
    background-color: $bg-section;
    padding: 90px 0 95px;
}

.sosial-content {
    font-size: 20px;
    color: white;
    display: inline;
}

.sosial-content p {
    display: inline-block;
    font-size: 18px;
}

.sosial {
    display: inline;
}

.sosial li {
    display: inline;
    color: white;
}

.sosial li a i {
    color: #3a9dff;
    padding: 0 15px;
    font-size: 23px;
}

.sosial li.active a i {
    color: white;
}

.portofolio {
    padding: 80px 0 0;
}

.head-portofolio {
    font-size: 25px;
    color: grey;
    font-family: $font-2;
    font-weight: 300;
}

.hero-portofolio {
    font-size: 35px;
    font-weight: 900;
}

.btn-galery {
    background-color: $btn;
    border: none;
    padding: 18px 35px;
    border-radius: 50px;
    box-shadow: 0 2px 20px $btn;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase; 
}

.no-gutters .col-6 {
    top: 0;
}

.body-card {
    padding: 0;
}

.card {
    border: 0;
}

.col-6,
.col-3,
.col-12 {
    overflow: hidden;
}

.image-1,
.image-3,
.image-4 {
    height:347px;
    transform: scale(1.5);
}

.image-6 {
    transform: scale(1.3);
    height : 229px;
}

.image-5 {
    height: 350px;
    transform: scale(1.1);
}


.image-2 {
    height: 579px;
    transform: scale(1); 
}

.image-3, 
.image-4 {
    height: 232px;
}


.image-galery {
    position: relative;
}

.image-4 {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}


.card-img-overlay {
    opacity: 0;
}

.card-img-overlay.active,
.card-img-overlay:hover {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 20px;
    padding: 90px 0;
    opacity: 1;
}


.text-1 {
    color: #727070;
    font-size: 13px;
}

.text-2 {
    color: white;
    font-size: 15px;
}

.like-me {
    display: inline;
    text-align: center;
    padding: 0;
}

.like-me li {
    display: inline;
    color: white;
}

.like-me li a i {
    color: white;
    font-size: 23px;
}

.like-me li.active a i {
    color: white;
}

.like-me li a img {
    height: 20px;
    padding: 0 8px;
}
.testimony {
    background-image: $bg-client;
    height: 840px;
    background-size: 140%;
    padding: 100px 0;
}


.client-header {
    font-family: $font-2;
    color: white;
    font-size: 25px;
    padding: 15px 0;
}

.client-say {
    color: white;
    font-size: 30px;
    font-weight: 900;
    padding: 0 0 80px;
}

.client-1, {
    color: white;
}

.carousel-item img {
    border-radius: 100%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.client-name {
    color: #FFFB00;
    font-size: 15px;
    display: inline-block;
}

.client-job {
    font-size: 15px;
    color: grey;
}

