$image-bg : url(assets/bg-header.jpg);


/*Globlal*/
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat:300,400,500,600,700,900');

#header {
    background-image: $image-bg;
    height: 85  0px;
    font-family: 'Montserrat', sans-serif;
    background-position: -75px -128px;
    background-size: 2000px;
    background-repeat: no-repeat;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 850px;
}

.navbar-light .navbar-toggler {
    background-color: white;
    border-color: white;
    font-size: 16px;
}

.navbar {
    padding: 50px 0;
}

.navbar-brand img {
    width: 167px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.5rem;
    color: white;
    font-weight: 500;
    
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #8799A3; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #8799A3
}

.btn-outline-warning {
    border-radius: 50px;
    padding: 8px 35px;
    font-weight: 500;
    border: 2px solid #ffff00;
    color: #FFFF00;
    box-shadow: 5px solid #FFFF00;
}

.btn-outline-warning:hover {
    background-color: #ffff00;
    color: white;
    border: 2px solid #ffff00;
}

.col-6 {
    top: 135px;
    color: #FFFFFF;
}

.display-5 {
    color: white;
    font-family: 'Leckerli One', cursive;
    font-size: 34px;
}

.display-3 {
    font-size: 57px;
    font-weight: 900;
    padding: 20px 0 0;
}

.display-3 .name{
    color: #0081FF;
}

.display-4 {
    font-size: 38px;
    padding-bottom: 20px;
}

.lead {
    color: #636363;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1;
}

.btn-primary {
    background-color: #636363;
    border-color: #636363;
    padding: 18px 34px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: grey;
    border-color: grey;
}

